 body{
 	margin:0;
 	padding:0;
 	font-size: 15px;
 	overflow-x: hidden;
 }
 header {
    height: 60px;
    padding-bottom: 15px;
  }
 footer {
    height: 30px;
  }
  .headings{
  	color:green;
  }

  .dashed-line{
  	border:1px dashed lightgray;
  }
  .paragraph{
  	margin:0px;
  	margin-top:-15px;
  	font-family:arial;
  	font-size: 15px;
	}
  .navigator{
  	float:right;
  	padding-top: 10px;
  	padding-right: 50px;
  }
  .nav-img{
  	padding-left: 10px;
  }
  .nav-description{
	float:bottom;
	  }
  .footer-nav{
  	float:right;
  }
  .nav-home{
  		padding-right: 20px;
  		padding-left: 0px;
  		border-right: 1px solid black; 
  }
  .nav-about{
  		padding-right: 20px;
  		padding-left: 20px;
  		border-right: 1px solid black; 

  }
  .nav-idea{
  		padding-left: 25px;
  		padding-right:15px;

  }
  .logo{
  	float:left;
  	padding-left: 20px;
  }
  .banner_div{
   	position:relative;
  	margin-left: 10px;
  	margin-right: 10px;
  }
  .banner_image{
  	width:100%;
  }
  .contents{
  	position:relative;
  	margin-left: 10px;
  	margin-right: 10px;
  	margin-bottom: 75px;
  }
.sub-description {
  position: relative;
  
}
.sub-content-left {
  float: left;
  width: 30%;
  top: -115px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-right: 1.7px dashed lightgray;
}
.sub-content-middle {
  display: inline-block;
  width: 30%;
  top: -115px;
  margin-left: 5px;
  margin-top: 8px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.sub-content-right {
  float: right;
  width: 32%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  margin-left: 23px;
  margin-right:-5px;
  border: 7px solid #99994d;
  background-color: #e5e5cc;
}
.list{
	margin:5px;
}
.list-item {
  list-style-image: url("../img/bullet.png");
  margin-left: 50px;
  padding-bottom: 15px;
}

.readmore-align{
  padding-top:50px;
  float: right;
  color:black;
}
a{
	text-decoration: none;
	color:black;
}